# ==========================
# Virtual Environments
# ==========================
.venv/
venv/
.venv-1/
env/


__pycache__/
*.py[cod]
*$py.class

*.so
*.pyd
*.dll


.env

.vscode/
.idea/


.DS_Store
Thumbs.db


.pytest_cache/
.coverage
htmlcov/
.coverage.*
.cache/


.ipynb_checkpoints/


build/
dist/
*.egg-info/


*.log


*.faiss
*.bin
*.pkl
*.pickle


data/generated/
vector_db/
faiss_index/


.cache/
huggingface/
hf_cache/


*.tmp
*.temp